// css variables
:root {
  --color-white: #fff;
  --color-background-dark: #fafafa;
  --color-primary: #ec5242;
  --color-dark: #272a31;
  --color-light: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
}
