@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@font-face {
  font-family: 'cocogoose';
  font-weight: normal;
  src: url('../assets/fonts/Cocogoose\ Pro\ Light-trial.ttf');
}

@font-face {
  font-family: 'cocogoose';
  font-weight: bold;
  src: url('../assets/fonts/Cocogoose\ Pro-trial.ttf');
}